doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendors.js')
    script(src='/javascripts/bundle.js')
  body
    block content
